@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* On définit nos couleurs Gabor ici pour la v4 */
  --color-brutal-yellow: #FFF500;
  --color-brutal-pink: #FF00F5;
  --color-brutal-blue: #00F0FF;
  
  /* On définit nos ombres personnalisées */
  --shadow-brutal: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  --shadow-brutal-hover: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}

:root {
  background-color: #f0f0f0;
  color: #000;
}

/* Tes classes personnalisées */
@layer components {
  .brutal-card {
    @apply bg-white  transition-all 
           hover:shadow-[var(--shadow-brutal-hover)] hover:translate-x-[2px] hover:translate-y-[2px];
  }
}

@layer base {
  body {
    @apply bg-white text-black transition-colors duration-300;
  }

  /* Quand la classe .dark est sur le <html>, le body change */
  .dark body {
    @apply bg-zinc-900 text-white;
  }
}